@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #007bff;
    --background-color: #ffffff;
    --text-color: #000000;
    --alt-text-color: #ffffff;
    --header-color: #007bff;
    --header-hover-color: #2c92ff;
    --table-hover-bg: #f5f5f5;
    --even-row-bg: #f2f2f2;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --primary-color: #61dafb;
    --background-color: #1e1e1e;
    --text-color: #e0e0e0;
    --alt-text-color: #e0e0e0;
    --header-color: #333333;
    --header-hover-color: #444444;
    --table-hover-bg: #464646;
    --even-row-bg: #2e2e2e;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 1000px;
    height: 600px;
    position: relative;
    top: -25px;
    border: 1px solid var(--text-color);
}

h1 {
    margin-bottom: 10px;
}

.spinner i {
    position: absolute;
    top: 45%;
    left: 48%;
    font-size: 2rem;
    color: var(--primary-color);
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--header-color);
    color: var(--alt-text-color);
    cursor: pointer;
}

th:hover {
    background-color: var(--header-hover-color);
}

td {
    font-size: 0.9rem;
}

.name-column,
.username-column,
.country-column {
    width: 200px;
}

tr:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}

tr:hover {
    background-color: var(--table-hover-bg);
}
