html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
}

#timer {
    font-size: 1.1rem;
    margin: 10px;
}

#time-left {
    font-weight: bold;
    color: #dc3545;
}

#choices-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.choice {
    background-color: #eee;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choice:hover {
    background-color: #ddd;
}

.choice.correct {
    background-color: #28a746;
    color: white;
}

.choice.wrong {
    background-color: #dc3545;
    color: white;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b2;
}

/* High Scores */

#high-score-container {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

td,
th {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #0056b2;
}

td {
    font-size: 0.9rem;
}

.highlight {
    background-color: #80e280;
}
